/* Add this CSS in your main stylesheet or create a new one */
#root {
    position: relative;
  }
  
  .react-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 600px; /* Set your desired max width */
    width: 70px;
  }
  
  .react-modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  table, th, td {
    border: 1px solid black;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
  }
  