@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');


:root{
    --clr-blue: #458ff6;
    --clr-black: #000;
    --clr-white: #fff;
    --clr-gray: #7d7987;
    --clr-dark-blue: #233348;
    --clr-dark-purple: #1f1534;
    --font-family-mulish: 'Mulish', sans-serif;
    --transition-default: all 300ms ease-in-out;
}

html{
    scroll-behavior: smooth;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
}

/* some resets & configuration */
*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul, ol{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: unset;
    transition: var(--transition-default);
}

a:focus, a:hover{
    color: unset;
}

img, picture, video, canvas, svg{
    max-width: 100%;
    display: block;
}
input, button, textarea, select{
    font: inherit;
    outline: 0;
}
h1, h2, h3, h4, h5, h6{
    overflow-wrap: break-word;
}
textarea{
    resize: none;
}
img, object, embed, video{
    max-width: 100%;
}

body{
    font-family: var(--font-family-mulish);
    line-height: 1.6;
    height: 100%;
    font-weight: 300;
}

button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.page-wrapper{
    overflow: hidden!important;
}

/* header section  & navbar */
.header{
    position: relative;
    min-height: 100vh;
    background-color: var(--clr-white);
}
.header *{
    color: var(--clr-white);
}
.navbar{
    padding: 56px 0 80px 0;
}
.brand-and-toggler{
    width: 100%;
}

.element-one{
    position: absolute;
    top: calc(56px + 41px + 63px);
    left: 0;
}
.element-one img{
    width: 60px;
}

/* banner */
.banner-title{
    font-size: 30px;
    line-height: 2.166;
    color: #000;
    font-family: var(--font-family-mulish);
}
.banner-content{
    display: grid;
    column-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}
.banner-left .content-wrapper{
    max-width: 445px;
    margin-left: auto;
}
.banner-left .content-wrapper p{
    max-width: 340px;
}
.banner-left .text{
    margin-top: 25px;
    margin-bottom: 45px;
}


/* grid block one */
.grid-content .content-wrapper{
    max-width: 360px;
}
.grid-content{
    grid-template-columns: repeat(2, 1fr);
    column-gap: 137px;
}
.grid-content .title-box .title-separator{
    margin-left: 0;
    margin-top: 26px;
}
.grid-content .text{
    line-height: 1.667;
}
.grid-content .btn{
    margin-top: 37px;
}

/* grid one */

    /* banner */
    .banner-content{
        column-gap: 36px;
        grid-template-columns: repeat(1, 1fr);
    }
    .banner .banner-left .content-wrapper{
        max-width: 540px;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
    }
    .banner-left .content-wrapper p{
        max-width: 100%;
    }
    .banner .banner-right{
        justify-content: center;
        margin-top: 40px;
        max-width: 480px;
        margin-right: auto;
        margin-left: auto;
    }

 
    .grid-content .content-wrapper{
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .grid-content{
        grid-template-columns: repeat(1, 1fr);
    }
    .grid-content .title-box .title-separator{
        margin-left: auto;
    }
    .grid-content .grid-img{
        max-width: 480px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 40px;
    }

    .sc-grid.sc-grid-two .grid-content .content-wrapper{
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .sc-grid-two .grid-content .grid-text{
        width: 100%;
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 60px;
    }

    

@media screen and (max-width: 768px){
    /* navbar */
    .element-one img{
        width: 40px;
    }
    /* grid one */
    .sc-grid-one, .sc-grid-two{
        padding: 80px 0;
    }

  
}



/* utilities classes */
.container{
    margin: 0 auto;
    padding-right: 16px;
    padding-left: 16px;
    max-width: calc(1273px - 32px);
}

/* text stylings and colors */
.text{
    color: var(--clr-gray);
    mix-blend-mode: normal;
    font-weight: 300;
    font-style: normal;
}
.text-blue{color: var(--clr-blue);}
.text-black{color: var(--clr-black);}
.text-white{color: var(--clr-white);}
.text-gray{color: var(--clr-gray);}
.text-dark-purple{color: var(--clr-dark-purple);}

.text-uppercase{text-transform: uppercase;}
.text-capitalize{text-transform: capitalize;}
.text-lowercase{text-transform: lowercase;}
.text-center{text-align: center;}
.text-start{text-align: left;}
.text-end{text-align: right;}
.text-justify{text-align: justify;}
.text-nowrap{white-space: nowrap;}

/* backgrounds colors */
.bg-transparent{background-color: transparent;}
.bg-white{background-color: var(--clr-white);}
.bg-black{background-color: var(--clr-black);}
.bg-blue{background-color: var(--clr-blue);}
.bg-gray{background-color: var(--clr-gray);}
.bg-dark-purple{background-color: var(--clr-dark-purple);}

.op-01{opacity: 0.1;}
.op-02{opacity: 0.2;}
.op-03{opacity: 0.3;}
.op-04{opacity: 0.4;}
.op-05{opacity: 0.5;}
.op-06{opacity: 0.6;}
.op-07{opacity: 0.7;}
.op-08{opacity: 0.8;}
.op-09{opacity: 0.9;}

/* font weights */
.fw-3{font-weight: 300;}
.fw-4{font-weight: 400;}
.fw-5{font-weight: 500;}
.fw-6{font-weight: 600;}
.fw-7{font-weight: 700;}
.fw-8{font-weight: 800;}
.fw-9{font-weight: 900;}

/* display */
.d-block{display: block;}
.d-inline{display: inline;}
.d-inline-block{display: inline-block;}
.d-flex{display: flex;}
.d-inline-flex{display: inline-flex;}
.d-grid{display: grid;}
.d-none{display: none;}

/* flex */
.justify-content-start{justify-content: flex-start;}
.justify-content-end{justify-content: flex-end;}
.justify-content-center{justify-content: center;}
.align-items-center{align-items: center;}
.align-items-stretch{align-items: stretch;}
.align-items-end{align-items: flex-start;}
.align-items-start{align-items: flex-start;}
.align-items-baseline{align-items: baseline;}
.flex-column{flex-direction: column;}
.flex-row{flex-direction: row;}
.flex-wrap{flex-wrap: wrap;}

/* vertically and horizontally centered */
.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.justify-content-between{justify-content: space-between;}

/* buttons */
.btn{
    min-width: 200px;
    height: 56px;
    border-radius: 54px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 18px;
    color: var(--clr-white);
    transition: var(--transition-default);
}

.btn:hover{
    color: var(--clr-white);
    background-color: #1472f4;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}
.btn-primary{
    background-color: var(--clr-blue);
}
.btn-primary-outline{
    border: 1.4px solid var(--clr-blue);
    color: var(--clr-blue);
}
.btn-secondary{
    background-color: var(--clr-white);
    color: var(--clr-blue);
}
.btn-white-outline{
    color: var(--clr-white);
    border: 1.4px solid var(--clr-white);
}
.btn-white-outline:hover{
    background-color: var(--clr-white);
    color: var(--clr-blue);
}

/* title */
.title-box .title-box-name{
    font-weight: 700;
    font-size: 36px;
}
.title-box .title-separator{
    height: 2px;
    background-color: var(--clr-black);
    width: 56px;
    margin-top: 10px;
    margin-bottom: 33px;
}

/* margin auto */
.mx-auto{
    margin-right: auto;
    margin-left: auto;
}

@media screen and (max-width: 992px){
    .title-box .title-box-name{
        font-size: 32px;
    }
}

.resize-animation-stopper *{
    animation: none!important;
    transition: none!important;
}