/* Modal overlay styles */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Modal content styles */
  /* Close icon styles */
.modal-content span {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  cursor: pointer;
  color: red; /* Customize the color as needed */
}

  /* Heading styles */
  h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }
  
  /* User list styles */
  ul {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
  }
  
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  /* Input styles */
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
 
/* Button styles */
button {
    background-color: var(--clr-primary);
    color: var(--clr-red);
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  }
  
  button:hover {
    background-color: var(--clr-primary-dark);
    color: var(--clr-white);
  }
  
  /* Trash icon styles */
  .FaTrash {
    margin-left: 5px;
    color: red;
  }
  /* Button styles */
button.delete-button {
    background-color: var(--clr-primary);
    color: var(--clr-white);
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  }
  
  button.delete-button:hover {
    background-color: var(--clr-primary-dark);
    color: var(--clr-white);
  }
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  