.app-container {
  display: flex;
}

.content-container {
  flex: 1;
  padding: 20px;
}

.sidebar-container {
  width: auto;
  background-color:white;
  padding: auto;
}
.sidebar-container.hidden {
  display: none;
}
